
*{
  text-decoration: none;
  border-radius: 10px;

}
.sec_acount{
  height: 370px;
  /* margin-left: 500px; */
}

.title_name{
    width: 500px;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-weight: normal;
    border: 1px solid #C3DBD9;
    animation: moving 4s ease infinite;
    margin-top: 100px;
}


@keyframes moving {
    0% {
      background-image: linear-gradient(to bottom right,
        /* white 5% ,
              white 20% 25% , */ #C3DBD9,
              #C8F2EF
      );
    }
    25% {
      background-image: linear-gradient(to bottom right,
        #C8F2EF,
        /* white 20% 25%,  
              white 35% 80% , */ #C3DBD9
      );
    }
    50% {
      background-image: linear-gradient(to bottom right,
        #C3DBD9,
        #C8F2EF /* white 35% 80% ,
              white 100% */
      );
    }
    75% {
      background-image: linear-gradient(to bottom right,
        /* white 5%, */ #C3DBD9,
        #C8F2EF 50% 100% /* white 100% */
      );
    }
    100% {
      background-image: linear-gradient(to bottom right,
        /* white 5%,
              white 20% 25%,  */ #C3DBD9,
              #C8F2EF 50% 100%
      );
    }
}
.price{
    width: 250px;
    font-size: 21px;
    border: #BB6464 1px solid;
    background-color: #bb6464;
    font-weight:normal;
    color: #f0ece7;
    text-align: center;
    padding: 10px 0;
}
.add_to_cart_btn{
  font-size: 18px;
    color: white;
    padding: 10px 20px;
    /* margin-left: 140px; */
  
}
.manage_acount{
  margin-top: 35px;
}
.reset_pass,.add_to_cart_btn{
    background-color: rgb(129, 190, 255);
}
.reset_pass:hover, .add_to_cart_btn:hover{
    background-color: #C3DBD9 ;

}
.sign_out{
    background-color: rgb(165, 165, 165);
}
.sign_out:hover{
    background-color: rgb(208, 208, 208);

}
.reset_pass, .sign_out{
    margin-right: 10px;
    font-size: 18px;
    color: white;
    padding: 10px 15px;

}